html, body { 
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    }

header{
    font-size: 20px;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-top: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
}

main{
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 68px 0 75px 0;
}

footer {
    font-size: 20px;
    margin: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
}

footer a {
    color: white;
}

.border{
    border: solid 4px;
    animation: 20s infinite changecolor;
}

@keyframes changecolor {
    0% {border-color: rgb(255, 225, 0);}
    10% {border-color: rgb(187, 255, 0);}
    20% {border-color: rgb(30, 255, 0);}
    30% {border-color: rgb(0, 255, 145);}
    40% {border-color: rgb(0, 255, 221);}
    50% {border-color: rgb(14, 0, 138);} 
    60% {border-color: rgb(255, 0, 212);}
    70% {border-color: rgb(255, 0, 0);}
    80% {border-color: rgb(255, 123, 0);}
    90% {border-color: rgb(255, 196, 0);}
    100% {border-color: rgb(255, 225, 0);}
}

@keyframes changebck {
    0% {background-color: rgb(255, 225, 0);}
    10% {background-color: rgb(187, 255, 0);}
    20% {background-color: rgb(30, 255, 0);}
    30% {background-color: rgb(0, 255, 145);}
    40% {background-color: rgb(0, 255, 221);}
    50% {background-color: rgb(14, 0, 138);} 
    60% {background-color: rgb(255, 0, 212);}
    70% {background-color: rgb(255, 0, 0);}
    80% {background-color: rgb(255, 123, 0);}
    90% {background-color: rgb(255, 196, 0);}
    100% {background-color: rgb(255, 225, 0);}
}

@keyframes changeclr {
    0% {color: rgb(255, 225, 0);}
    10% {color: rgb(187, 255, 0);}
    20% {color: rgb(30, 255, 0);}
    30% {color: rgb(0, 255, 145);}
    40% {color: rgb(0, 255, 221);}
    50% {color: rgb(14, 0, 138);} 
    60% {color: rgb(255, 0, 212);}
    70% {color: rgb(255, 0, 0);}
    80% {color: rgb(255, 123, 0);}
    90% {color: rgb(255, 196, 0);}
    100% {color: rgb(255, 225, 0);}
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.borderbottom{
    border-bottom: 2px solid black ;
}

.italic{
    font-style: italic;
}

header > h1{
    padding: 10px;
    margin: 0;
    color: white;
}

section {
text-align: center;
}

a {
    text-decoration: none;
    color: rgb(89, 128, 255);
}

h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
}

h3{
    font-size: 23px;
    color: rgb(0, 0, 0);
    text-align: center;
}

img{
    border: 2px black solid;
}

.backtomain{
    max-height: min-content;
    padding: 2px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.rozcestnik {
    display: flex;
    border-bottom: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
}

.rozcestnik a {
    color: white;
}

.box {
    font-size: 20px;
    padding: 5px;
}

.colorwhite{
    color: white;
}

.backgrey {
    background-color: rgb(53, 53, 53);
}

.current{
    background-color: rgb(28, 28, 28);
}

.button{
    padding: 5px;
    background-color: white;
    position:absolute;
    right:0px;
}

.disco {
   animation: 3s infinite changebck;
}

.discono {
    background-color: white;
}